// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$dark-green: #2D936C;
$light-green: #20F596;
$light-gray: #d9d9d9;
$dark-blue: #222545;
$dark-gray: #222327;
$black: #16171B;
$white: #fbfcff;
