.dashboard-wrapper {
  margin: 20px 170px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  h2 {
    margin-bottom: 20px;
    text-decoration: underline;
    text-decoration-color: $dark-green;
  }
}

.dashboard-information {
  display: flex;
  justify-content: space-around;

  img {
    margin-right: 20px;
  }

  h1 {
    align-self: center;
    font-size: 50px;
  }

  .dashboard-data {
    display: flex;
    flex-direction: column;
    text-align: center;

    span {
      font-size: 40px;
      color: $light-green;
    }
  }
}

.dashboard-buttons {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.dashboard-lower {
  display: flex;
  gap: 10px;

  &>div {
    width: 50%;
  }

  .dashboard-lower-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.leaderboard {
  width: 100%;
  tr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .leaderboard-user img{
    margin: 7px 0px;
  }
}

.friendlist {
  list-style: none;
  display: flex;
  gap: 5px;
  padding: 5px;
  overflow-x: scroll;


  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid $light-green;
    border-radius: 5px;
    padding: 10px;

    img {
      margin: 20px;
    }
  }
}


.username-table{
  align-self:center;
  margin: 0 10px;
}
