.dashboard-wrapper {
  margin: 20px 170px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  h2 {
    margin-bottom: 10px;
    text-decoration: underline;
    text-decoration-color: $dark-green;
  }
}

.dashboard-information {
  display: flex;
  justify-content: space-between;
  .play-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width:30%;
    button{
      height:50%;
      align-self: center;
    }
    // change class name below (for user show)
    form {
      //height: 50%;
      align-self: center;
    }
    p {
      margin: 0 !important;
    }
  }

  .right-side-user-info{

    display:flex;
    // justify-content: space-between;
    align-items: center;
    width: 70%;
    background: $black;
    padding: 15px;
    border-radius: 5px;
    border: solid 1px $white;

    .image-and-name {
      width: 50%;
      display: flex;
      align-items: center;
    }

    .dashboard-data-parent {
      display: flex;
      justify-content: space-around;
      width: 50%;
    }

    h1 {
      font-size: 50px;
      text-align: center;
      width: 100%;
    }

    .dashboard-data {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-left: 50px;

      span {
        font-size: 40px;
        color: $light-green;
      }
    }

  }


}

.dashboard-buttons {
  display: flex;
  justify-content: space-around;
    button{
      width:50%;
    }
}

.dashboard-lower {
  display: flex;
  gap: 10px;

  &>div {
    width: 50%;
  }

  #leaderboard-section {
    flex: 1;
    max-height: 560px;
  }

  .dashboard-lower-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    .page-section {
      flex: 1;
      display:flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.leaderboard {
  width: 100%;

  th, td {
    font-family: $headers-font;
  }
  tr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .leaderboard-user img{
    margin: 7px 0px;
  }
}

#leaderboard-section {
  overflow-y: hidden;
  // margin-right: 5px;
}

#leaderboard-section:hover {
  overflow-y: overlay;
  // margin-right: 5px;
}

.friendlist {
  list-style: none;
  display: flex;
  gap: 5px;
  padding: 5px 0;
  overflow-x: hidden;
  margin-bottom: 5px;

  .friend-div {
    background-color: $black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid $light-green;
    border-radius: 5px;
    min-width: 110px !important;
    justify-content: space-between;

    .name-online {
      display: flex;
      align-items: center;
      h6 {
        margin-bottom: 0 !important;
        padding-top: 5px;
      }
    }

    img {
      margin: 20px;
    }

    button {
      width: 100%;
      border-radius: 0 0 2px 2px !important;
    }
    button:disabled {
      border: 1px solid gray;
    }
  }
}

.friendlist:hover{
  margin-bottom: 0px;
  overflow-x: scroll;
}


.username-table{
  align-self:center;
  margin: 0 10px;
}

.friends-title{
  margin-bottom: 5px !important;
}


// Media Queries

@media only screen and (max-width: 1050px) {
  .dashboard-wrapper {
    margin: 20px;
    transition: all 0.5s ease;
  }
}

@media only screen and (max-width: 700px) {
  .dashboard-information{
    .play-box {
      button {
        height: 60px;
      }
    }
    .right-side-user-info {
      flex-direction: column;
      .image-and-name {
        justify-content: space-around;
        width: 100%;
        margin-bottom: 10px;
        height: 50%;
        .user-image {
          width:50%;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            height: 50px;
          }
        }
        h1 {
          width: 50%;
        }
      }
      .dashboard-data-parent {
        justify-content: space-around;
        width: 100%;
        height: 50%;
        .dashboard-data {
          margin: 0;
          h6 {
            margin-bottom: 0 !important;
          }
        }
      }
    }
  }
  .dashboard-lower {
    flex-direction: column;
    .dashboard-lower-left {
      width: 100%;
    }
    .dashboard-lower-right {
      width: 100%;

    }
  }
}

@media only screen and (max-width: 501px) {
  .dashboard-information {
    .right-side-user-info {
      h1 {
        font-size: 20px;
        text-align: center;
      }
      h6 {
        font-size: 14px;
      }
      span {
        font-size: 18px !important;
      }
      .dashboard-data {
        width: 100%;
      }
    }
    .play-box {
      button {
        font-size: 14px !important;
        padding: 0px 14px !important;
      }
    }
  }
  td {
    div{
      font-size: 14px !important;
      padding: 2px;
    }
  }
  .past-battles {
    tbody {
      tr {
        th {
          padding-right: 5px;
        }
      }
    }
  }
}
