.game-show-container {
  display:flex;
  margin: 20px;
  height: calc(100vh - 101px);
  width: calc(100vw - 118px);
  gap: 10px;

  h4 {
    text-decoration: underline;
    text-decoration-color: $dark-green;
  }
}

.game-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  span {
    font-size: 50px;
    color: $light-green;
    vertical-align: middle;
    margin: 0px 50px;
  }
  h3{
    margin-bottom: 0 !important;
  }
}

.challenge-instructions {
  flex-grow: 1;
  overflow-y: auto;
}

.challenge-tests {
  min-height: 30%;
  overflow-y: auto;
}

.user-codebox {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $dark-gray;
  border-radius: 5px;
  height: 40%;
  // max-width: 826px;

  // codemirror style for game page.
  .CodeMirror{
    height: 60%;
    width:100%;
    font-size: 15px;
  }
}


.current-player-codebox {
  border: 5px solid $light-green;
  height: 60%;
}


.code-submit-buttons{
  display: flex;
  justify-content: end;
  width: 100%;
  // padding: 10px;
}



.user-details{
  display:flex;
  margin: 10px 0;
  align-items: center;
}
.user-avatar{
  height: 40px;
  margin: 0 10px;
}

.user-avatar-big {
  height: 12vh;
}
.user-avatar-small {
  height: 30px;
}

.user-name {
  color: $white;
  margin: 0 10px;
}

.game-show-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 40%;
}

.game-show-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 60%;
}

.game-show-right-reversed {
  flex-direction: column-reverse;
}

#playerOneClear, #playerTwoClear, #playerTwoTest, #playerOneTest, #playerOneForfeit, #playerTwoForfeit {
  border-radius: 0px !important;
  border: none;
}
