.game-show-container {
  display:flex;
  margin: 20px 120px;
  min-height: 740px;
  gap: 10px;

  h4 {
    text-decoration: underline;
    text-decoration-color: $dark-green;
  }
}

.game-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  span {
    font-size: 100px;
    color: $light-green;
    vertical-align: middle;
    margin: 0px 50px;
  }
}

.challenge-instructions {
  flex-grow: 1;
}

.challenge-tests {
  min-height: 25%;
}

.user-codebox {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $dark-gray;
  border-radius: 5px;
  height: 370px;

// codemirror style for game page.
  .CodeMirror{
    height: 60%;
    width:100%;
    font-size: 15px;
  }
}

#user-codebox-1 {
  border: 5px solid $light-green;
}


.code-submit-buttons{
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 10px;
}



.user-details{
  display:flex;
  margin: 10px 0;
}
.user-avatar{
  height: 40px;
  margin: 0 10px;
}

.user-avatar-big {
  height: 100px;
}

.user-name {
  color: $white;
  height: 40px;
  margin: 0 10px;
}

.game-show-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 45%;
}

.game-show-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
}
