// Specific CSS for your home-page

.lp-card {
  padding: 70px 45px;
  // border-top: 8px solid $dark-gray;
  background-color: $black;
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    left: -10%;
    top: 0;
    width: 70%;
    height: 100%;
    -webkit-transform: skew(60deg);
    transform: skew(60deg);
    background: linear-gradient(90deg, $dark-gray 20%, $dark-green);
  }

  .lp-card-container {
    flex-flow: row-reverse;
    gap: 2%;
    align-items: stretch;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1100px;
    border-radius: 12px;
    transition: 1s;
    opacity: 0;
    z-index: 3;
  }

  .lp-card-container-text {
    flex: 0 1 auto;
    height: auto;
    width: 52%;
    font-size: 1.625rem;
    font-weight: 400;
    color: $white;
    border-left: 5px solid $light-green;
    z-index: 5;
  }

  .lp-text-left {
    padding: 0 3rem;
    display: flex;
    align-items: center;
  }

  .lp-text-right {
    padding: 0 3rem;
    display: flex;
    align-items: center;
  }

  .lp-card-container-image {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    width: 48%;
    height: 100%;
    align-self: center;
    border-radius: 5px;
    z-index: 6;
  }
}

.lp-card-right {
  position: relative;
  overflow: hidden;

  .lp-card-container {
    flex-flow: row;
  }

  .lp-card-container-text {
    border-left: none;
    border-right: 5px solid $light-green;
  }
  &::before {
    content: '';
    position: absolute;
    right: -10%;
    left: 60%;
    top: 0;
    width: 50%;
    height: 100%;
    -webkit-transform: skew(120deg);
    transform: skew(120deg);
    background: linear-gradient(90deg, $dark-gray 20%, $dark-green);
  }
}

.inView {
  opacity: 1 !important;
}

#lp-main-content {
  margin-top: 200px;
}

.typed-home {
  .typed-title {
    margin-bottom: 3rem;
  }
}

@media only screen and (max-width: 800px) {
  .lp-card {
    .lp-card-container {
      .lp-card-container-text {
        font-size: 18px;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .banner {
    border-bottom: none;
    padding: 0 0 150px 0;
    transition: all 0.5s ease;
    #lp-main-content {
      margin-top: 100px;
      transition: all 0.5s ease;
    }
  }
  .typed-home {
    .typed-title {
      margin-bottom: 8rem;
      transition: all 0.5s ease;
    }
    p {
      font-size: 20px;
      transition: all 0.5s ease;
    }
  }
}

@media only screen and (max-width: 550px) {
  .banner {
    border-bottom: none;
    padding: 0 0 150px 0;
    transition: all 0.5s ease;
    #lp-main-content {
      margin-top: 100px;
      transition: all 0.5s ease;
    }
  }
  .typed-home {
    .typed-title {
      margin-bottom: 12rem;
      transition: all 0.5s ease;
    }
    p {
      font-size: 20px;
      transition: all 0.5s ease;
    }
  }
}
