.friend-profile-buttons {
  display: flex;
  justify-content: space-around;
  padding: 0 5px;
  width: 300px;

  a {
    height: 100%;
  }
  button {
    width: 100px;
    padding: 8px 0 !important;
  }
  button:disabled {
    border: 1px solid gray;
  }
}

@media only screen and (max-width:500px) {
  .user-page {
    flex-direction: column-reverse;
    .play-box {
      width: 100%;
    }
    .right-side-user-info {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}
