
  <% @users.each do |user| %>
          <h2><%= user.username %></h2>
          <div>
          <%= button_to "Friend", user_friendships_path(user), :method => :post %>
          <%# <%= link_to "Unfriend", friendships_path(user), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
      </div>
  <% end %>
