<% if Invitation.reacted?(current_user, @user) %>
  <p>You are friends with this person or one have you have sent a request</p>
<% else %>
  <%= button_to "Friend", send_invitation_user_path, data: {turbo_method: :post}%>
<% end %>
