<div data-game-subscription-target="gameWinnerModal" id="gameWinnerModal" class="modal fade show round-winner-modal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content round-winner-modal-content">
      <div class="modal-header round-winner-modal-header">
        <div data-game-subscription-target="gameWinner"></div>
      </div>
      <div class="modal-body round-winner-modal-body">
        <div class="tally-container">
          <div class="page-section" id="playerOneBox">
            <h6><%= @game.player_one.username %></h6>
            <p data-game-subscription-target="gameWinnerCountp1"></p>
          </div>
          <span>V</span>
          <div class="page-section" id="playerTwoBox">
            <h6 data-game-subscription-target="playerTwoUsername"><%= @game.player_two.username %></h6>
            <p data-game-subscription-target="gameWinnerCountp2"></p>
          </div>
        </div>
      </div>
      <div class="modal-footer round-winner-modal-footer">
        <button data-action="click->game-subscription#endGame" class="btn btn-main">Back to Dashboard</button>
        <button data-action="click->code#showSolutionModal" class="btn btn-second">See code</button>
      </div>
    </div>
  </div>
</div>
