<div class="modal fade round-choice-modal invite-modal" id="inviteModal" data-friend-target="inviteModal" tabindex="-1" role="dialog" aria-labelledby="roundChoiceTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content round-choice-modal-content">
      <h3 class="invite-content" data-friend-target="inviteContent"></h3>
      <button data-action="click->friend#acceptInvite">Accept</button>
      <button data-action="click->friend#rejectInvite">Decline</button>
    </div>
  </div>
</div>
