<div class="modal fade show round-winner-modal" id="inviteModal" data-friend-target="inviteModal" tabindex="-1" role="dialog" aria-labelledby="roundChoiceTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content round-choice-modal-content invite-content">
      <h3 class="invite-title" data-friend-target="inviteContent"></h3>
      <div class="button-group">
        <button class="btn btn-main" data-action="click->friend#acceptInvite">Accept</button>
        <button class="btn btn-danger" data-action="click->friend#rejectInvite">Decline</button>
      </div>
    </div>
  </div>
</div>
