<div data-game-subscription-target="preGameModal" id="preGameModal" class="pre-game-modal">
  <div data-game-subscription-target="preGameModalContent" class="pre-game-modal-content">
  <% if @game.player_two.id == 1 %>
    <div class="loading-animation">
      <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
    <p data-game-subscription-target="preGame"></p>
  </div>
  <% else %>
  <div class="opponent-found">
    <div><%= @game.player_two.avatar %></div>
    <h4><%= @game.player_two.username %></h4>
  </div>
  <% end %>
</div>
