.btn-main {
  color: $black;
  padding: 8px 24px;
  border-radius: 4px;
  background: $light-green;
  transition: background 0.3s ease;
}

.btn-main:hover {
  background: #1ccd7d !important;
  color: $black;
}
