.btn-main {
  color: $black;
  font-weight: bold;
  padding: 8px 24px;
  border-radius: 4px;
  background: $light-green;
  transition: background 0.3s ease;
}

.btn-main:hover {
  background: #1ccd7d !important;
  color: $black;
}

.btn-second {
  color: $black;
  padding: 8px 24px;
  border-radius: 4px;
  border: 2px $dark-green solid;
  background: $white;
  transition: background 0.3s ease;
}

.btn-second:hover {
  background: rgb(224, 224, 224) !important;
  color: $black;
  border: 2px $light-green solid;
}


.btn:disabled {
  opacity: 1 !important;
  background: gray !important;
  border-radius: 4px !important;
  border: none !important;

}

.request-button {
  color: $black;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  // height: 30px;


  i {
    width: 18px;
    height: 18px;
    text-align: center;
  }
}

.btn-tick {
  background-color: green;
}

.btn-cross {
  background-color: red;
}
