.number-animation{
  animation-name: number;
  animation-duration: 1s;
  margin-top: 30px;
  // animation-fill-mode: forwards;
}

@keyframes number {
  0% {font-size: 20px; color: $white;}
  50% {color: $white;}
  100% {font-size: 100px; color: $black;}
}

.countdown-title {
  position: absolute;
  top: 60px;
}
