.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: $dark-green 5px solid;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 50px;
  padding: 0 !important;
  margin: 0 !important;
}

.lp-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 200px 0px;

  img {
    width: 100px;
  }
}
