.navbar-lewagon {
  justify-content: space-between;
  background: $dark-gray;
  border-bottom: $dark-green 5px solid;

  a {
    color: $white !important;
  }

  a:hover {
    color: $white !important;
  }

  .nav-item {
    color: $white;
    display: flex;
    align-items: center;
    font-size: 25px;
  }

  ul {
    gap: 20px;

    span {
      font-size: 15px;
      border: 1px solid $dark-green;
      padding: 2px;
      border-radius: 5px;
    }
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 50px;
  padding: 0 !important;
  margin: 0 0 0 80px !important;
}

.lp-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 200px 0px;

  img {
    width: 100px;
  }
}

.dropdown-menu-end {
  background-color: $dark-gray;
  padding: 0px;
}

.dropdown-item:hover {
  background-color: #3a3b41;
}
