#playerSolutionsModal{
  display: none;
}

#player-solutions-second-level{
  width: 70% !important;
  max-width: none !important;
}

#player-solutions-third-level-content{
  max-height: 70%;
  overflow-y: scroll;
  width:100%;
}

.round-details{
  border-bottom: 1px solid $dark-gray;
  height: 100%;
}

.hidden-round-details{
  display: none;
  min-height: 100%;
  height: 400px !important;
  width: 100% !important;
  -webkit-transition: height 0.5s linear;
     -moz-transition: height 0.5s linear;
      -ms-transition: height 0.5s linear;
       -o-transition: height 0.5s linear;
          transition: height 0.5s linear;
}

.round-title-div{
  padding: 20px;
  cursor: pointer;

  .round-title{
    margin: 0 !important;
    padding: 0 !important;
  }
}

.user-codebox-solutions {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $dark-gray;
  min-height: 100%;
  width: 35%;

  .CodeMirror{
    width: 100%;
    font-size: 15px;
    text-align: left;
  }
}

.round-challenge-instructions{
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: $dark-gray;
  min-height: 100%;
  width: 30%;
  p {
    overflow-y: scroll;
    text-align: left;
    padding:10px;
  }
}

.fourth-layer {
  width:100%;
  height:100%;
}

.redX {
  height: 200px;
  right: -15px;
  top: -15px;
  position: absolute;
  color: white;
  z-index: 1000;
  font-size: 25px;
}

@media only screen and (max-width:500px) {
  #player-solutions-second-level{
    width: 100% !important;
    max-width: none !important;
  }
  #player-solutions-third-level-content {
    overflow-y: scroll;
    width: 100%;
    max-height: 85%;
  }
  .hidden-round-details {
    flex-direction: column;
    height: 100% !important;
  }
  .user-codebox-solutions {
    width: 100%;
    min-height: 35%;
    order: 2;
    .CodeMirror {
      font-size: 13px;
    }
  }
  .round-challenge-instructions {
    width: 100%;
    min-height: 30%;
    order: 0;
    h4 {
      margin:0;
    }
    p {
      font-size: 14px;
    }
  }
  .user-details {
    display: flex;
    margin: 5px 0;
    align-items: center;
  }
}
