.round-winner-modal {
  background-color: rgba(0,0,0,0.7);
  backdrop-filter: blur(10px);
}

.round-winner-modal-content, .round-choice-modal-content {
  background-color: $black;
  color: $white;
  text-align: center;
  border: 2px solid $light-green;
}

.round-winner-modal-header, .round-choice-modal-header {
  border-bottom: 0px;
  backdrop-filter: blur(5px);
  text-align: center;
  display: flex;
  justify-content: center;
}

.round-winner-modal-footer, .round-choice-modal-footer {
  border-top: 0px;
}

.tally-container {
  display:flex;
  justify-content: space-between;
  align-items: center;

  div {
    width: 120px;
    height: 120px;

    p {
      font-size: 50px;
    }
  }
  span {
    font-size: 100px;
    color: $light-green;
    vertical-align: middle;
    margin: 0px 50px;
  }
}

.modal-tickboxes{
  display: flex;
  justify-content: space-between;
}

#left-tick{
  position: absolute;
  left: 114px;
  bottom: 84px;
}
#right-tick{
  position: absolute;
  right: 114px;
  bottom: 84px;
}
