.round-choice {
  color: $black;

  fieldset {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;

    legend {
      display: none;
    }

    .form-check {
      width: 30%;
      padding-left: 0px;
    }
  }
  input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }

  label {
      display: inline-block;
      background-color: $dark-gray;
      cursor: pointer;
      padding: 10px 5px;
      font-size: 30px;
      border: 2px solid $light-green;
      border-radius: 5px;
      width: 100%;
      letter-spacing: -20px;
      text-align: center;
      padding-right: 20px;
  }

  label:hover {
    background-color: #dfd;
  }

  input[type="radio"]:focus + label {
      border: 2px solid #444;
  }

  input[type="radio"]:checked + label {
      background-color: $light-green;
      border-color: $dark-gray;
  }
}

.round-choice-modal-header {
  button {
    opacity: 1;
  }
  span {
    text-shadow: none;
    color: $white;
  }
}
