// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "config/codemirror";
@import "config/dracula";
@import "config/dracula_blurred";

body {
  margin: 0 !important;
  background-color: $black;
}
.page_wrapper{
  // display: flex;
  height: 100%;
  position: relative;
}
.push-right {
  margin-left: 80px;
}
