body{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.page-wrapper {
  display:flex;
  width: 100%;
  height: calc(100% - 81px);
  overflow: auto;
}

// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "config/codemirror";
@import "config/dracula";
